services:
  isaacsim:
    image: ${ISAACSIM_IMAGE}
    privileged: true
    labels:
      - resim.ai/ignoreContainerNotFinished=true
    environment:
      - NVIDIA_DRIVER_CAPABILITIES=all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
                - nvidia
  nav2:
    image: ${NAV2_IMAGE}
    labels:
      - resim.ai/isTestOrchestrator=true
