services:
  isaacsim:
    image: 909785973729.dkr.ecr.us-east-1.amazonaws.com/customer-test-images:isaacsim-mcb-isaacsim
    labels:
      - resim.ai/ignoreContainerNotFinished=true
    privileged: true
    environment:
      - NVIDIA_DRIVER_CAPABILITIES=all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
                - nvidia
  humble-nav2:
    image: 909785973729.dkr.ecr.us-east-1.amazonaws.com/customer-test-images:isaacsim-mcb-nav2
    labels:
      - resim.ai/isTestOrchestrator=true
