# Used for running locally. Build the images first with `scripts/rebuild.sh`.
services:
  isaacsim:
    image: resim-isaacsim
    extends:
      file: docker-compose.yml
      service: isaacsim
    environment:
      - DISPLAY=${DISPLAY}
      - GUI=true
    volumes:
      - shadercache:/shadercache
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
  nav2:
    image: resim-humble-nav2
    extends:
      file: docker-compose.yml
      service: nav2
    command: ["rviz:=true", "send_goals:=false"]
    environment:
      - DISPLAY=${DISPLAY}
      - RESIM_NAV2_TIMEOUT=3600
    volumes:
      - ./outputs:/tmp/resim/outputs
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

# https://omniverse-content-production.s3-us-west-2.amazonaws.com/Assets/Isaac/5.0/Isaac/Props/Pallet/o3dyn_pallet.usd

volumes:
  shadercache: